Q1.Ans = FOR LOOP :
In for loop statement is excuted then after increment or decrement in the value.

In [30]:
l = [ "rishu","chandan","data science","python"]

In [31]:
l

['rishu', 'chandan', 'data science', 'python']

In [32]:
for i in l :
    print(i)

rishu
chandan
data science
python

In for loop first able to complete itself then
only else will excute

In [33]:
l1 = ["grass", "tree" ,"google","microsoft"]

In [34]:
l1

['grass', 'tree', 'google', 'microsoft']

In [35]:
for i in l1 :
    print(i)
else :
    print("amazon","flipcart")

grass
tree
google
microsoft
amazon flipcart

In [36]:
l1

['grass', 'tree', 'google', 'microsoft']

In [37]:
for i in l1:
    if i == "tree":
        break
    print(i)
else:
    print("python is very basic language")

grass

#In above example you can see that first statement is not 
completed or excuted so else condition can't be executed.

#WHILE LOOP : while loop work on the condition if the given condition
is True then body is execute till then if condition is False then body is 
not execute.

In [40]:
a = 1 

while a <= 10:
    print(a)
    a = a + 1

1
2
3
4
5
6
7
8
9
10

#Q2.Ans: SUM BY FOR LOOP

In [41]:
l = [1,2,3,4,5,6,7,8,9,10]
sum = 0
for i in l :
    sum = sum +i
sum

55

#PRODUCT BY FOR LOOP

In [42]:
l = [1,2,3,4,5,6,7,8,9,10]
factorial = 1
for i in l :
    factorial = factorial*i
factorial

3628800

#SUM BY WHILE LOOP

In [44]:
n = int(input("enter your number: "))
x = 0
y = 1

while y <= n:
    x = x + y
    y = y + 1
x    
#x=sum

enter your number:  10

55

#PRODUCT BY WHILE LOOP

In [45]:
num = int(input("enter your number"))
factorial = 1
while num > 0:
    factorial = factorial*num
    num = num -1
factorial

enter your number 10

3628800

#Q3.ANS:

In [46]:
unit = int(input("enter the total unit"))
if unit <= 100:
    print("bill is", (unit * 4.5))
elif unit > 100 and unit <=200:
    print("bill is",((unit-100)*6)+ (100* 4.5))
elif unit > 200 and unit <=300:
    print("bill is",((unit-200)*10)+(100*6)+(100*4.5))
else :
    print("bill is",((unit-300)*20)+(100*10)+(100*6)+(100*4.5))

enter the total unit 310

bill is 2250.0

#Q4.ANS

In [47]:
x = []
for i in range(1,101):
    x.append(i**3) 
print(x)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [48]:
l = list(range(1,101))
l1 = []
for i in l:
    cube = i**3
    if cube%4==0 or cube%5 ==0:
        l1.append(i)
print(l1)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [1]:
num = []
i = 1
while i <= 100:
    cube = i**3
    if cube % 4 == 0 or cube % 5 == 0:
        num.append(i)
    i += 1
print(num)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

Qno. 5

In [1]:
s = "i want to become a data scientist"
s1 = []
for j in s:
    if j =='a' or j =='e' or j == 'i' or j =='o' or j=='u':
        s1.append(j)
print(len(s1))

12